html, body{
    padding: 0%;
    margin: 0%;
    height: 100vh;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;

}

.holy-grail{
    width: 90vw; 
    height: 90vh; 
    display: grid;
    grid-template-areas: 
    "header header header header"
    "nav upc-left upc-center upc-right"
    "nav upc-left upc-center upc-right"
    "nav upc-left upc-center upc-right"
    "nav mc mc mc"
    "nav lc lc lc"
    "footer footer footer footer";
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(233, 239, 239);
}

.header{
    border: 1px solid black;
    grid-area: header;
    background-color: rgb(190, 134, 134);
}

.nav{
    border: 1px solid black;
    grid-area: nav;
    background-color: aquamarine;
}

.upc-left{
    border: 1px solid black;
    grid-area: upc-left;
    background-color: darkkhaki;
}

.upc-right{
    border: 1px solid black;
    grid-area: upc-right;
    background-color:gold;
}

.upc-center{
    border: 1px solid black;
    grid-area: upc-center;
    background-color: rgb(177, 177, 228);
}

.lc{
    border: 1px solid black;
    grid-area: lc;
    background-color: navajowhite;
}

.mc{
    border: 1px solid black;
    grid-area: mc;
    background-color: lightskyblue;
}

.footer{
    border: 1px solid black;
    grid-area: footer;
    background-color: springgreen;
}


.g {
    display: grid;
    justify-content: center;
    align-content: center;
    margin: 10px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: larger;
}

